HardwareDebug/
settings/
debug/
Release/
Debug_oSize/
Debug_oSpeed/
.settings/
Debug/
*.dep
*.ewt
dist/
.metadata/
RemoteSystemsTempFiles/
.build/build_files
*/__pycache__
.DS_Store
trash/

same54Xpro/iar/netxduo/Release/
same54Xpro/iar/same54_lib/Release/
same54Xpro/iar/threadx/Release/
same54Xpro/mplab/netxduo/build/
same54Xpro/mplab/same54_lib/build/
same54Xpro/mplab/sample_azure_iot_embedded_sdk/build/
same54Xpro/mplab/threadx/build/